################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/miniATM/v16/Server/sqlite3
/DataLib/bin/Debug/netstandard2.0
/DataLib/obj
